@import './theme';

$color: $color;

html {
    font-size: 14px;
    color: $color;
}
body {
    div, p, a, section, aside, h1, h2, h3, h4, h5, h6 {
        box-sizing: border-box;
    }

    a {
        color: inherit;

        &[href] {
            opacity: 0.8;
            color: inherit;
        }
    }

    ul {
        &.list {
            padding-left: 1.6rem;
        }
    }
}